   [
    {
      "logConfiguration": {
        "logDriver": "awslogs",
        "options": {
          "awslogs-group": "${LOGS}",
          "awslogs-region": "${REGION}",
          "awslogs-stream-prefix": "ecs"
        }
      },
      "portMappings": [
        {
          "hostPort": ${PORT},
          "protocol": "tcp",
          "containerPort": ${PORT}
        }
      ],
      "cpu": ${CPU},
      "environment": [
        {"name": "PGDATABASE","value": "${PGDATABASE}"},
        {"name": "PGHOST","value": "${PGHOST}"},
        {"name": "PGPASSWORD","value": "${PGPASSWORD}"},
        {"name": "PGUSER","value": "${PGUSER}"}
      ],
      "memory": ${MEMORY},
      "memoryReservation": ${MEMORY},
      "image": "${ACCT}.dkr.ecr.${REGION}.amazonaws.com/${NAME}:master",
      "essential": true,
      "name": "${NAME}"
    }
  ]
